<% if @post.url %>
  <h1>
    <%= link_to @post.title, @post.url %>
  </h1>
<% else %>
  <h1><%= @post.title %></h1>
<% end %>

<% @post.subs.each do |sub| %>
  <%= link_to sub.title, sub_url(sub) %>
<% end %>

<p><%= @post.content %></p>

<% if current_user && @post.author_id == current_user.id%>
  <%= link_to "Edit post", post_url(@post), method: :patch %>
  <%= link_to "Delete Unfit Post", post_url(@post), :method  => :delete %>
<% end %>

<%= link_to "Add a comment!", new_post_comment_url(@post) %>

<ul>
  <% @all_comments.each do |comment| %> 
    <% next unless comment.parent_comment_id.nil? %>
    <li>
      <%= render "comments/comment", comment: comment %>
    </li>
  <% end %>
</ul>

